@page "/Q1"
@using MunirLinqQuery.Data
@inject StudentDbContext _db


<h3>4th Additional Query Solution</h3>

<table>
    <tbody>
        @foreach (var item in students)
        {
        <td>@item.sname</td>
        <td>@item.major</td>
        <td>@item.age</td>

        }
    </tbody>
</table>

@code {
    List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        LoadQuery();
    }

    void LoadQuery()
    {
        var computerScienceStudents = _db.std
    .Where(s => s.enrolls.Any(e => e.classes.Any(c => c.faculty.depid == 22)))
    .Select(s => s.sname);

        // Result
        foreach (var studentName in computerScienceStudents)
        {
            Console.WriteLine($"Student Name: {studentName}");
        }


    }
}
}
