@page "/Q1st"
@using MunirLinqQuery.Data
@inject StudentDbContext _db


<h3>First Query Solution</h3>

<table>
    <tbody>
        @foreach (var item in classs)
        {
        <td>@item.name</td>
        <td>@item.roomNo</td>
        }
    </tbody>
</table>

@code {
    List<Class> classs = new List<Class>();

    protected override void OnInitialized()
    {
        LoadQuery();
    }

    void LoadQuery()
    {
        classs = (from c in _db.Classes
                where c.students.Count > 100
                select new Class
                    {
                        name = c.name,
                        roomNo = c.roomNo
                    }).ToList();
    }
}
